@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

/*reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(206, 203, 203, 0.507);
}


/*encabezado*/

.encabezado {
  background-color: white;
}



.encabezado .promoEncabezado {
  color: white;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
}

.encabezado .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.encabezado .nav .imagen-encabezado {
  background-color: white;
  width: 9rem;
}

.encabezado .nav .navbar {
  background-color: white;
  list-style: none;
  display: flex;
  gap: 1.3rem;
}

.encabezado .nav .navbar .headerLinks {
  background-color: white;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
}

.encabezado .nav .navbar .headerLinks:hover {
  color: grey;
  display: block;
}


/*Home*/

.mainIndex{
  display: flex;
  justify-content: space-around;
}

.fondo1{
  display: flex;
  justify-content: space-around;
  height: 47rem;
}

.destacados-text {
  display: flex;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.7rem;
  margin: 50px 0px 10px 0px;
}

/*inicio de destacados*/

.container1H {
  display: flex;
justify-content: space-around;
}

.container2H {
  display: flex;
  justify-content: space-around;
}

.imgProducto {
  width: 250px;
}

.name-product {

  font-size: 1.5rem;
}

.product-price-home1 {
  font-size: 1.5rem;
}

/*footer*/

footer {
  background-color: grey;
}

.titleFooter{
  font-family: "Ubuntu", sans-serif;
padding: 10
px;
}

.sectionFooter {
  display: flex;
}

.navFooter {
  background-color: grey;
}

.footerLinks {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.footerLinks:hover{
  color: rgb(236, 226, 226);
  display: block;
}

.imgFooter {
  height: 10rem;
  margin: 0px 0px 0px 500px ;
}

.derechos {
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: end;
}


/*productos*/

.mainProductos {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

.padreLinkImg {
display: flex;
justify-content: space-around;
margin: 60px 0px 60px 0px;
}


/*camperas*/

.h1Camperas {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 10px 0px;
  }

.container1C {
  display: flex;
justify-content: space-around;
}

.container2C {
  display: flex;
  justify-content: space-around;
}

.imgCamperas {
  width: 250px;
}

.name-Campera {
  font-size: 1.5rem;
}

.product-price {
  font-size: 1.5rem;
}


/*remeras*/

.h1Remeras {
display: flex;
justify-content: space-around;
margin: 30px 0px 10px 0px;
}


.container1R {
  display: flex;
justify-content: space-around;
}

.container2R {
  display: flex;
  justify-content: space-around;
}

.imgRemeron {
  width: 250px;
}

.name-product{
  font-size: 1.5rem;
}

.product-price{
font-size: 1.5rem;
}


/*stores*/

.mainStores {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

.map {
  display: flex;
  justify-content: center;
  margin: 0px 0px 60px 0px;
}

.mapText {
  display: flex;
  justify-content: center;
}


/*login*/

.textLogin{
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 0px 0px ;
}

.h1Login {
  display: grid;
  justify-content: center;
  font-size: 3rem;
  margin: 10px;
}

.form {
display: flex;
justify-content: space-around;
margin: 50px 0px 30px 0px;
}

.textForm {
display: flex;
  font-size: 1rem;

}

.mail{
  padding: 5px 80px;
}

.password{
  padding: 5px 80px;
}

.sendForm {
  margin: 40px 0px 0px 0px;
  font-size: 1rem;
  padding: 5px;
  background-color: black;
  color: white;

}

.textLoginR{
  display: flex;
  justify-content: center;
}

.linkR{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.linkR:hover{
  color: grey;
  display: block;
}


/*paginas individuales de preductos*/

.product {
display: flex;
justify-content: space-around;
margin: 70px 0px 70px 0px ;
}

.ProductoImgPage {
height: 35rem;
}

.Atext {
  font-size: 1.1rem;
}

.Price {
font-size: 1.8rem;
margin: 30px 0px 30px 0px;
}

.Dues {
  font-size: 1.3rem;
  margin: 0px 0px 30px 0px;
  color: red;
}

.send-Product {
font-size: 1rem;
padding: 5px;
background-color: black;
color: white;
}





/* mq */
@media screen and (max-width: 500px) {

/*encabezado*/

.encabezado {
  background-color: white;
}

.encabezado .promoEncabezado {
  color: white;
  background-color: black;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-around;
}

.encabezado .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.encabezado .nav .imagen-encabezado {
  background-color: white;
  width: 9rem;
}

.encabezado .nav .navbar {
  background-color: white;
  list-style: none;
  display: flex;
  gap: 1.3rem;
}

.encabezado .nav .navbar .headerLinks {
  background-color: white;
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  font-family: "Ubuntu", sans-serif;
}

.encabezado .nav .navbar .headerLinks:hover {
  color: grey;
  display: block;
}


/*Home*/

.mainIndex{
  display: flex;
  justify-content: space-around;
}

.fondo1{
  display: flex;
  justify-content: space-around;
  height: 47rem;
}

.destacados-text {
  display: flex;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.7rem;
  margin: 50px 0px 10px 0px;
}

/*inicio de destacados*/

.container1H {
  display: flex;
justify-content: space-around;
}

.container2H {
  display: flex;
  justify-content: space-around;
}

.imgProducto {
  width: 250px;
}

.name-product {

  font-size: 1.5rem;
}

.product-price-home1 {
  font-size: 1.5rem;
}

/*footer*/

footer {
  background-color: grey;
}

.titleFooter{
  font-family: "Ubuntu", sans-serif;
}

.sectionFooter {
  display: flex;
}

.navFooter {
  background-color: grey;
}

.footerLinks {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.imgFooter {
  height: 10rem;
  margin: 0px 0px 0px 500px ;
}

.derechos {
  color: black;
  font-size: 1rem;
  display: flex;
  justify-content: end;
}


/*productos*/

.mainProductos {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

.padreLinkImg {
display: flex;
justify-content: space-around;
margin: 60px 0px 60px 0px;
}


/*camperas*/

.h1Camperas {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 10px 0px;
  }

.container1C {
  display: flex;
justify-content: space-around;
}

.container2C {
  display: flex;
  justify-content: space-around;
}

.imgCamperas {
  width: 250px;
}

.name-Campera {
  font-size: 1.5rem;
}

.product-price {
  font-size: 1.5rem;
}


/*remeras*/

.h1Remeras {
display: flex;
justify-content: space-around;
margin: 30px 0px 10px 0px;
}


.container1R {
  display: flex;
justify-content: space-around;
}

.container2R {
  display: flex;
  justify-content: space-around;
}

.imgRemeron {
  width: 250px;
}

.name-product{
  font-size: 1.5rem;
}

.product-price{
font-size: 1.5rem;
}


/*stores*/

.mainStores {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

.map {
  display: flex;
  justify-content: center;
  margin: 0px 0px 60px 0px;
}

.mapText {
  display: flex;
  justify-content: center;
}


/*login*/

.textLogin{
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 0px 0px ;
}

.h1Login {
  display: grid;
  justify-content: center;
  font-size: 3rem;
  margin: 10px;
}

.form {
display: flex;
justify-content: space-around;
margin: 50px 0px 250px 0px;
}

.text1Form {
  display: flex;
  font-size: 2rem;

}

.mail{
  padding: 5px 80px;
}

.text2Form {
  display: flex;
  font-size: 2rem;
}

.password{
  padding: 5px 80px;
}

.sendForm {
  margin: 40px 0px 0px 0px;
  font-size: 1.5rem;

}




/*paginas individuales de preductos*/

.ProductoImgPage {
height: 35rem;
}

.Atext {
  font-size: 1.1rem;
}

.Price {
font-size: 1.8rem;
margin: 30px 0px 30px 0px;
}

.Dues {
  font-size: 1.3rem;
  margin: 0px 0px 30px 0px;
  color: red;
}

.send-Product {
font-size: 1.6rem;
}

}