//variables
@import "./utilities/mediaq";
@import "./utilities/camperaYremeras";
@import "./utilities/login";
@import "./utilities/variables";
@import "./utilities/header";


//import
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

//reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(206, 203, 203, 0.507);
}



//Home

.fondo1 {
  display: flex;
  justify-content: space-around;
  height: 47rem;
}

.destacados-text {
  display: flex;
  justify-content: space-around;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.7rem;
  margin: 50px 0px 10px 0px;
}


//inicio de destacados

.container1H {
  display: flex;
  justify-content: space-around;

  .imgProducto {
    width: 250px;
  }

  .name-product {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.4rem;
  }
}

.container2H {
  display: flex;
  justify-content: space-around;

  .imgProducto {
    width: 250px;
  }

  .name-product {
    font-size: 1.5rem;
  }

  .product-price {
    font-size: 1.4rem;
  }
}


//footer

footer {
  background-color: grey;


  .titleFooter {
    font-family: "Ubuntu", sans-serif;
  }

  .sectionFooter {
    display: flex;

    .navFooter {
      background-color: grey;

      .footerLinks {
        text-decoration: none;
        color: black;
        font-size: 1rem;
      }
    }

    .imgFooter {
      height: 10rem;
      margin: 0px 0px 0px 500px;
    }
  }

  .derechos {
    background-color: grey;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: end;
  }

}


//stores

.mainStores {
  display: flex;
  justify-content: center;
  margin: 15px;
  font-family: "Ubuntu", sans-serif;
}

.mapText {
  display: flex;
  justify-content: center;
}

.map {
  display: flex;
  justify-content: center;
  margin: 0px 0px 60px 0px;
}

//Pagina del producto

.product {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 0px 0px;


  .ProductoImgPage {
    width: 30rem;
  }

  .Atext {
    margin: 15px 0px 15px 0px
  }

  .Price {
    font-size: 1.5rem;
    margin: 15px 0px 15px 0px;
  }

  .Dues {
    color: red;
    font-size: 1.3rem;
    margin: 0px 0px 20px 0px;
  }

  .send-Product {
    background-color: black;
    color: white;
    font-size: 1.4rem;
    padding: 5px;
  }
}

//productos

.mainProductos {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px 0px 0px;
}

.padreLinkImg {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}