.h1Camperas {
    display: grid;
    justify-items: center;
    font-family: $tipografia;
}



.mainCamperas {
    display: grid;
    justify-items: center;
    grid-template-areas:
        "imgC1 imgC2"
        "nameC1 nameC2"
        "priceC1 priceC2"
        "imgC3 imgC4"
        "nameC3 nameC4"
        "priceC3 priceC4";

    .imgCamperas1 {
        grid-area: imgC1;
        width: $with-de-productos;

    }

    .imgCamperas2 {
        grid-area: imgC2;
        width: $with-de-productos;
    }

    .imgCamperas3 {
        grid-area: imgC3;
        width: $with-de-productos;
    }

    .imgCamperas4 {
        grid-area: imgC4;
        width: $with-de-productos;
    }

    .name-Campera1 {
        grid-area: nameC1;
        font-size: $nombre-de-productos;
    }

    .name-Campera2 {
        grid-area: nameC2;
        font-size: $nombre-de-productos;
    }

    .name-Campera3 {
        grid-area: nameC3;
        font-size: $nombre-de-productos;
    }

    .name-Campera4 {
        grid-area: nameC4;
        font-size: $nombre-de-productos;
    }


    .product-price1 {
        grid-area: priceC1;
        font-size: $precio-productos;
    }

    .product-price2 {
        grid-area: priceC2;
        font-size: $precio-productos;
    }

    .product-price3 {
        grid-area: priceC3;
        font-size: $precio-productos;
    }

    .product-price4 {
        grid-area: priceC4;
        font-size: $precio-productos;
    }
}