//camperas

.h1Camperas {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 30px 0px;
}

.container1C {
  display: flex;
  justify-content: space-around;
}

.container2C {
  display: flex;
  justify-content: space-around;
}

.imgCamperas {
  width: 250px;
}

.name-Campera {
  font-size: 1.5rem;
}

.product-price {
  font-size: 1.4rem;
}


@media screen and (max-width: 576px) {
  .h1Camperas {
    font-size: 2.5rem;
    margin: 30px 0px 20px 0px;
  }

  .container1C {
    display: grid;
  }

  .container2C {
    display: grid;
  }

}

//remeras

.h1Remeras {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 30px 0px;
}

.container1R {
  display: flex;
  justify-content: space-around;
}

.container2R {
  display: flex;
  justify-content: space-around;
}

.imgRemeron {
  width: 250px;
}

.name-product {
  font-size: 1.5rem;
}

.product-price {
  font-size: 1.4rem;
}

@media screen and (max-width: 576px) {
  .h1Remeras {
    font-size: 2.5rem;
    margin: 30px 0px 20px 0px;
  }

  .container1R {
    display: grid;
  }

  .container2R {
    display: grid;
  }

}