/* mq */
@media screen and (max-width: 500px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgba(206, 203, 203, 0.507);
  }
  
  
  .encabezado {
    background-color: white; }
  
  .encabezado .promoEncabezado {
    color: white;
    background-color: black;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: space-around; }
  
  .encabezado .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white; }
  
  .encabezado .nav .imagen-encabezado {
    background-color: white;
    width: 9rem; }
  
  .encabezado .nav .navbar {
    background-color: white;
    list-style: none;
    display: flex;
    gap: 1.3rem; }
  
  .encabezado .nav .navbar .headerLinks {
    background-color: white;
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    font-family: "Ubuntu", sans-serif; }
  
  .encabezado .nav .navbar .headerLinks:hover {
    color: grey;
    display: block; }


  //Home
  
  .fondo1 {
    display: flex;
    justify-content: space-around;
    height: 47rem;
  }
  
  .destacados-text {
    display: flex;
    justify-content: space-around;
    font-family: "Ubuntu", sans-serif;
    font-size: 2.7rem;
    margin: 50px 0px 10px 0px;
  }
  
  
  //inicio de destacados
  
  .container1H {
    display: flex;
    justify-content: space-around;
  
    .imgProducto {
      width: 200px;
    }
  
    .name-product {
      font-size: 1.5rem;
    }
  
    .product-price {
      font-size: 1.4rem;
    }
  }
  
  .container2H {
    display: flex;
    justify-content: space-around;
  
    .imgProducto {
      width: 250px;
    }
  
    .name-product {
      font-size: 1.5rem;
    }
  
    .product-price {
      font-size: 1.4rem;
    }
  }
  
  
  //footer
  
  footer {
    background-color: grey;
  
  
    .titleFooter {
      font-family: "Ubuntu", sans-serif;
    }
  
    .sectionFooter {
      display: flex;
  
      .navFooter {
        background-color: grey;
  
        .footerLinks {
          text-decoration: none;
          color: black;
          font-size: 1rem;
        }
      }
  
      .imgFooter {
        height: 10rem;
        margin: 0px 0px 0px 500px;
      }
    }
  
    .derechos {
      background-color: grey;
      color: black;
      font-size: 1rem;
      display: flex;
      justify-content: end;
    }
  
  }
  
  
  //stores
  
  .mainStores {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-family: "Ubuntu", sans-serif;
  }
  
  .mapText {
    display: flex;
    justify-content: center;
  }
  
  .map {
    display: flex;
    justify-content: center;
    margin: 0px 0px 60px 0px;
  }
  
  //Pagina del producto
  
  .product {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 0px 0px;
  
  
    .ProductoImgPage {
      width: 30rem;
    }
  
    .Atext {
      margin: 15px 0px 15px 0px
    }
  
    .Price {
      font-size: 1.5rem;
      margin: 15px 0px 15px 0px;
    }
  
    .Dues {
      color: red;
      font-size: 1.3rem;
      margin: 0px 0px 20px 0px;
    }
  
    .send-Product {
      background-color: black;
      color: white;
      font-size: 1.4rem;
      padding: 5px;
    }
  }
  
  //productos
  
  .mainProductos {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 0px 0px;
  }
  
  .padreLinkImg {
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }

//login


.textLogin{
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

.h1Login{
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 50px 0px;
}

.form{
display: flex;
justify-content: space-around;

.textForm{
  font-size: 1.2rem;
}

.mail{
display: flex;
padding: 0px 50px;
}

.password{
  display: flex;
padding: 0px 50px;
}

.sendForm{
  background-color: black;
  color: white;
  margin: 15px 0px 0px 0px;

}
}

.textLoginR{
  display: flex;
  justify-content: center;
  margin: 15px 0px 150px 0px;
}

.linkR{
  margin: 0px 10px;
  color:black;
  text-decoration: none;
  font-weight:bold;
}

.linkR:hover{
  color: grey;
}



//camperas

.h1Camperas {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 10px 0px; }

.container1C {
  display: flex;
  justify-content: space-around; }

.container2C {
  display: flex;
  justify-content: space-around; }

.imgCamperas {
  width: 250px; }

.name-Campera {
  font-size: 1.5rem; }

.product-price {
  font-size: 1.4rem; }

//remeras

.h1Remeras {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px 10px 0px; }

.container1R {
  display: flex;
  justify-content: space-around; }

.container2R {
  display: flex;
  justify-content: space-around; }

.imgRemeron {
  width: 250px; }

.name-product {
  font-size: 1.5rem; }

.product-price {
  font-size: 1.4rem; }





}