/* mq */
@media screen and (max-width: 500px) {
    /*encabezado*/
    .promoEncabezado {
      font-size: medium; }
    .imagen-encabezado {
      width: 7rem; }
    nav ul li a {
      font-size: 1rem; }
    /*fin encabezado*/
    /*main*/
    .mainGridIndex {
      display: grid;
      justify-content: center;
      margin: 10px;
      gap: 10px; }
    .destacados-text {
      display: grid;
      justify-content: center;
      font-size: 2rem; }
    /*destacados*/
    .sectionGrid {
      display: grid;
      grid-row-gap: 5px;
      grid-template-areas: "img1"
   "name1"
   "price1"
   "img2"
   "name2"
   "price2"
   "img3"
   "name3"
   "price3"
   "img4"
   "name4"
   "price4"; }
    .imgProducto1 {
      width: 200px; }
    .imgProducto2 {
      width: 200px; }
    .imgProducto3 {
      width: 200px; }
    .imgProducto4 {
      width: 200px; }
    .name-product1 {
      font-size: 1.4rem; }
    .name-product2 {
      font-size: 1.4rem; }
    .name-product3 {
      font-size: 1.4rem; }
    .name-product4 {
      font-size: 1.4rem; }
    .product-price-home1 {
      font-size: 1.3rem;
      margin: 0px 0px 40px 0px; }
    .product-price-home2 {
      font-size: 1.3rem;
      margin: 0px 0px 40px 0px; }
    .product-price-home3 {
      font-size: 1.3rem;
      margin: 0px 0px 40px 0px; }
    .product-price-home4 {
      font-size: 1.3rem;
      margin: 0px 0px 40px 0px; }
    /*fin de destacados*/
    /*footer*/
    footer {
      background-color: grey;
      display: grid;
      justify-items: center; }
    .derechos {
      background-color: grey;
      color: black;
      font-size: 0.9rem; } }
  