.h1Remeras {
    display: grid;
    justify-items: center;
    font-family: $tipografia;
}


.mainRemeras {
    display: grid;
    justify-items: center;
    grid-template-areas:
        "imgR1 imgR2"
        "nameR1 nameR2"
        "priceR1 priceR2"
        "imgR3 imgR4"
        "nameR3 nameR4"
        "priceR3 priceR4";


    .imgRemeron1 {
        grid-area: imgR1;
        width: 250px;

    }

    .imgRemeron2 {
        grid-area: imgR2;
        width: 250px;
    }

    .imgRemeron3 {
        grid-area: imgR3;
        width: 250px;
    }

    .imgRemeron4 {
        grid-area: imgR4;
        width: 250px;
    }

    .name-tShirt1 {
        grid-area: nameR1;
        font-size: 1.5rem;
    }

    .name-tShirt2 {
        grid-area: nameR2;
        font-size: 1.5rem;
    }

    .name-tShirt3 {
        grid-area: nameR3;
        font-size: 1.5rem;
    }

    .name-tShirt4 {
        grid-area: nameR4;
        font-size: 1.5rem;
    }

    .product-price-home1 {
        grid-area: priceR1;
    }

    .product-price-home2 {
        grid-area: priceR2;
    }

    .product-price-home3 {
        grid-area: priceR3;
    }

    .product-price-home4 {
        grid-area: priceR4;
    }
}